.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: rgb(85, 85, 85);
    position: relative;
}

.nav__notification-a {
    background-color: tomato;
    width: 27px;
    height: 27px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 18px;
    bottom: 18px;
}

.nav__notification-b {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 28px;
    bottom: 28px;
}