.screen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--horizontal-space);
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 25px;
    font-weight: 500;
}



.screen-header__icons {
    display: flex;
}

.screen-header__icons div {
    margin-left: 10px;
}

.screen-header__setting {
    position: relative;
}

.screen-header__badge {
    height: 5px;
    width: 5px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
}